
.firstFlex {
    display: flex;
    padding: 5rem;
}

.dog {
    width: 40%;
}

.secondFlex {
    display: flex;
}

.bowling {
    width: 25%;
    opacity: 0;
}

.bowling:hover,
.bowling:focus {
    opacity: 1;
}

.doggy .dogname {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.doggy {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
}

.doggy:hover .dogname {
    visibility: visible;
    padding-top: 9em;
}