.loginBox {
  width: 30em;
  height: 12.5em;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
}

.inputLogin {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 0.85em;
}

.inputText {
  text-align: left;
  padding-left: 1rem;
}

.inputInput {
  height: 2.5rem;
  font-size: 0.85em;
  border-radius: 10px;
  padding: 0 0.85rem;
}

.inputInput:focus {
  outline: none;
}

.inputBottom {
  display: flex;
  position: relative;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.inputSubmit {
  padding: 0.25em 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  background: rgb(1, 23, 220);
  color: white;
  text-align: center;
  width: 5em;
  border-radius: 50px;
}

.inputSubmit:hover,
.inputSubmit:focus {
  background-color: #eee;
  color: rgb(1, 23, 220);
  outline: none;
}

.title {
  font-size: 1.35em;
}

.mdpoublie {
  font-size: 0.85em;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.titre h2{
  padding: 0;
  font-size: 1.35em;
}


@media screen and (max-height: 880px){
  .loginBox {
    height: 15em;
  }
}

@media screen and (max-height: 440px){
  .loginBox {
    height: 17.5em;
  }
}

@media screen and (max-width: 900px){
  .loginBox {
    width: 25em;
    padding-bottom: 2em;
  }

  .inputSubmit{
    position: absolute;
    right: 0;
    bottom: -2em;
  }

  .mdpoublie {
    bottom: -2em;
  }
}

@media screen and (max-width: 440px){
  .loginBox {
    width: 20em;
  }
}
